{% extends 'base.html' %}
{% block content %}
	<h1>Lorem Ipsum!</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In nulla tempore tenetur quaerat accusantium tempora eaque, dignissimos amet quibusdam, laborum quos iste dolorum? Perspiciatis labore rem repellat ad distinctio? Deserunt ad tempora ratione dolore officiis architecto, soluta, minima explicabo tenetur ullam excepturi vitae culpa ut. Modi itaque, veritatis nam alias rem iure illo suscipit autem, officiis ipsum cumque consequuntur repellendus vel distinctio. Corrupti ab aliquam ad vel id eum! Perspiciatis, harum porro?</p>
{% endblock %}